@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,600;1,300&display=swap');

* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
 
}

body {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #160050;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;

}

div {

    width: 400px;
    height: 400px;

}

div#containerImages {
    
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;

}
div#containerClock {
    
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;

}

div#containerClock { background-color: #1c0666; }

section {
    
    display: flex;
    flex-direction: row;
    
}

section#contentSection { margin-top: 10px; }

button {

    margin: 15px 150px;
    width: 100px;
    padding: 6px;
    border-radius: 20px;
    border: 1px solid #1153e0;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    background-color: #1c0666;
    color: white;
    cursor: pointer;

}