
$sectionColor: #f0efefa1;
$myColor: #8e07c0;

@mixin default {
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

 @mixin bodyDefault {

    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: white;

 }

 @mixin sectionDimensions {

    margin: 20px;
    width: 600px;
    height: 500px;
    padding: 20px;

 }

 * { @include default }

 body {
    
    @include bodyDefault;
    color: $myColor;

}

 section {
  
    @include sectionDimensions;
    display: flex;
    align-items: center;
    background-color: $sectionColor;

 }