@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Manjari:700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Gayathri|Livvic:200i|Ubuntu:300i&display=swap');

/* PÁGINA DE FORMATAÇÃO EM CSS */

/* FORMATAÇÃO DO MENU */


body{
	
	margin: 0px;
	padding: 0px;
	background-color: crimson;
	
}

nav#menu {
	
	position: fixed;
	height: 76px;
	width: 100%;
	background-color: #ffffff;
	z-index: 1;
	
}

nav#menu ul {
	
	list-style: none;
	margin-left: 300px;
	
}

nav#menu ul li {
	
	
	display: inline-block;
	margin: 86px;
	padding: 10px;
	margin-top: 0px;
	margin-left: 100px;
	
}

nav#menu ul li a {
	
	font-size: 18pt;
	font-family: 'Manjari', sans-serif;
	color: crimson;
	text-decoration: none;
	
}

/* FORMATANDO A LOGO DO MENU */

img#logo-menu {
	
	position: absolute;
	height: 65px;
	width: 200px;
	margin-top: 5.5px;
	margin-left: 100px;
	
}

/* FORMATANDO OS ELEMENTOS DA SECTION */

section#corpo {
	
	background-color: green;
	width: 100%;
	top: 87px;
	z-index: 0;
	
}

div#imagem01 {
	
	position: relative;
	background: url(../_fotos/img01.jpeg) no-repeat;
	background-size: 100% 1000px;
	background-attachment: scroll;
	width: 100%;
	height: 1000px;
	top: 0px;
	
	
}

div#imagem02{
	
	position: relative;
	background: url(../_fotos/img02.jpeg) no-repeat;
	background-size: 100% 800px;
	background-attachment: fixed;
	width: 100%;
	height: 800px;
	
}

div#imagem03{
	
	position: relative;
	background: url(../_fotos/img03.jpeg) no-repeat;
	background-size: 100% 800px;
	background-attachment: scroll;
	width: 100%;
	height: 800px;
	
}

div#faixa {
	
	position: relative;
	width: 100%;
	height: 200px;
	background-color: #ffcccc;
	
}

div#faixa h1{
	
	position: relative;
	font-family: 'Manjari', sans-serif;
	font-size: 50pt;
	color: crimson;
	text-align: center;
	margin: 0;
	top: 75px;
	
}

div#imagem01 h1 {
	
	position: relative;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 150pt;
	text-align: center;
	color: rgba(255, 255, 255, .4);
	
	margin: 0;
	top: 300px;
	
}

/* FORMATAÇÃO DO PARÁGRAFO */

div#imagem02 p {
	
	
	display: block;
	float: left;
	font-family: 'Livvic', sans-serif;
	font-size: 20pt;
	color: white;
	width: 500px;
	text-align: left;
	margin: 80px auto 10px 180px;
	
}

div#imagem02#p2 {
	
	display: block;
	float: right;
	font-family: 'Livvic', sans-serif;
	font-size: 20pt;
	width: 500px;
	
}









