@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');

* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
 
}

body {

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0a0a22;
    color: white;

}

div {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 800px;
    height: 100vh;

}

form {

    border-radius: 20px;
    display: inline-grid;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 250px;
    margin: 20px;
    padding: 10px;
    background-color: #111138;

}

input {

    outline: none;
    border-radius: 15px;
    border:  2px solid #0c0c3d;
    color: #111138;
    font-weight: 600;
    margin: auto 10px auto 10px;
    padding: 14px;

}
input#estado { width: 60px; }

input#ddd { width: 60px; }

input#numero { width: 80px; }

/* Taking off the increase/decrease button inside input */
input[type = number]::-webkit-inner-spin-button,
input[type = number]::-webkit-outer-spin-button { -webkit-appearance: none; }